	
    
# Class Plugin 
org.fundaciobit.sample.userinformationplugin=org.fundaciobit.pluginsib.userinformation.soffid.SoffidUserInformationPlugin

# BASE org.fundaciobit.sample


# -------------------  CAIB  -------------------

# URL to Soffid Server
org.fundaciobit.sample.pluginsib.userinformation.soffid.serverurl=https://intranet.caib.es/soffid/webservice/scim2/v1

org.fundaciobit.sample.pluginsib.userinformation.soffid.username=username
org.fundaciobit.sample.pluginsib.userinformation.soffid.password=password

# PRO: "weblogic"
# PRE: "weblogic-pre"
# SE: "weblogic-pre"
# DES: "web-des"
org.fundaciobit.sample.pluginsib.userinformation.soffid.entorn=web-des

# Per depuració
org.fundaciobit.sample.pluginsib.userinformation.soffid.debug=true
org.fundaciobit.sample.pluginsib.userinformation.soffid.debugrest=false

# Cerques Parcials

#Valor per defecte 3
# org.fundaciobit.sample.pluginsib.userinformation.soffid.minimumcharacterstosearch=3

# Valor per defecte 100.
# org.fundaciobit.sample.pluginsib.userinformation.soffid.maxallowednumberofresultsinpartialsearches=100
	


# Es pot fer substitució del EMAIL per una Expressions Language.
#  Valors permesos són els camps de UserInfo: user.id, user.username, user.administrationID, user.name, 
#               user.surname1, user.surname2, user.email, user.language, user.phoneNumber, user.mobileNumber,
#               user.address, user.company, user.companyArea, user.companyDepartment, user.website, user.birthDate,
#               user.creationDate, user.notes, user.dir3, user.dir3Parent, user.dir3Company, ...
# org.fundaciobit.sample.pluginsib.userinformation.soffid.email_el=${user.username}@caib.es
